.banner {
    width: 100%;
    height: 300px; /* Ajuste la hauteur selon tes préférences */
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .portfolio-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .portfolio-container {
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid blue; /* Couleur de la ligne */
    margin-bottom: 20px;
    max-width: 500px; /* Fixe la largeur maximale */
    width: 100%; /* Permet au conteneur de s'adapter à la largeur de l'écran */
  }

  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }